.header {
    width: 100%;
    height: 60px;
    background-color: var(--secundary);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem; /* Adiciona padding nas laterais */
    box-sizing: border-box; /* Garante que o padding não afete a largura total */
}

.header span {
    font-size: 1.5rem; /* Corrigido para 1.5rem (sem espaço) */
    font-weight: bold;
}

.header a {
    text-decoration: none;
    color: var(--white);
    padding-right: 1.5rem;
    font-size: 1.125rem;
}

.header a:hover {
    color: var(--purpledark);
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .header {
        flex-direction: column; /* Muda a direção para coluna em telas menores */
        height: auto; /* Permite que a altura se ajuste ao conteúdo */
        padding: 10px 0; /* Ajusta o padding */
    }

    .header span {
        font-size: 1.25rem; /* Reduz o tamanho da fonte em telas menores */
    }

    .header a {
        font-size: 1rem; /* Reduz o tamanho da fonte dos links em telas menores */
        padding-right: 1rem; /* Reduz o padding direito */
    }
}
.header-left {
    display: flex;
    align-items:center;
   
}